@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #fff;
  color: #333333;

}

/* main-header */
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

}

.navigation-item .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
}
/* main-header */



/* section-hero */
.hero {
  background: url("../images/full-image.jpg") no-repeat;
  width: 1200px;
  height: 485px;
  text-align: center;


}
/* section-hero */


/* section-about */
.section-about-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.section-about-subtitle {
  text-align: center;
}




/* background and color for items and subtitles*/
.about-item:nth-child(1),
.about-item:nth-child(5) {
  background-color: #82B3D3;
  color: #fff;
}
.about-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.about-item {
  background-color: rgba(131, 179, 211, 0.12);
}
/* background and color for items and subtitles*/



.about-title {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.about-item:nth-child(1) .about-title,
.about-item:nth-child(5) .about-title {
  color:#fff;
}


.about-subtitle {
  font-size: 18px;
  line-height: 21px;
}
/* section-about */


/* section-advantages */
.advantages-section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  text-align: center;

}
.advantages-section-subtitle {
  text-align: center;
}



/*
.advantages-item:nth-child(1) {
  background: url("../images/advantages/advantages-1.svg") top no-repeat;
}

.advantages-item:nth-child(2) {
  background: url("../images/advantages/advantages-2.svg") top no-repeat;
}

.advantages-item:nth-child(3) {
  background: url("../images/advantages/advantages-3.svg") top no-repeat;
}
 */



/* section-action */
.action {
  text-align: center;
}

.action-title {
  line-height: 36px;
  font-size: 30px;
}

.action .button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #756157;
  border-radius: 4px;
}
/* section-action */



/* form-products */
.form-products {
  background: url("../images/filter.jpg") no-repeat;
}

.catalog-filter-title {
  font-weight: 700;
  color: #fff;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.form-products .button {
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}
/* form-products */


/* products-section*/
.products-section-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}


.product-card-link {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.product-cart .button {
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  border: none;
}

.button-current {
  background: #7DB54F;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.product-list span {
  font-size: 18px;
  line-height: 21px;
}

.button-detailed {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
}



/*products-section pagination */
.pagination-item > .pagination-current {
  background: #F2F2F2;
  border-radius: 4px;
  color: #000;
}

.dots {
  text-decoration: none;
}

.pagination-link {
  background: #82B3D3;
  border-radius: 4px;
  color:#fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;

}
/* products-section pagination */




/* mailing */
.mailing .button {
  background: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  border: none;

}

.mailing {
  background: url("../images/subscribe.jpg") no-repeat;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.mailing-subtitle {
  color: #fff;
}
/* mailing */


/* mailing bg-hidden */
.bg-hidden {
  background: none;

}

.bg-hidden .mailing-title {
  color: #000;
  text-transform: uppercase;
}

.bg-hidden .mailing-subtitle {
  color: #333333;
}
/* mailing bg-hidden */
