@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #333333;

}

/* main-header */
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

}

.visually-hidden {
  visibility: hidden;
}

.search-icon {
  background: url("../images/header/search.svg") left no-repeat;

}

.favourites-icon {
  background: url("../images/header/favourites.svg") left no-repeat;

}

.navigation-item  {
  list-style: none;
}

.navigation-item .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
}
/* main-header */


/* main-inner */
.breadcrumbs-img {
  background: url("../images/home.svg")  left  no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.breadcrumbs-item {
  list-style-type: none;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}
/* main-inner */


/* section-hero */
.hero {
  background-color: #284155;
  background: url("../images/decorative-element.png") bottom no-repeat,
              url("../images/full-image.jpg") center no-repeat;

  width: 1200px;
  height: 485px;
  text-align: center;



}
/* section-hero */


/* section-about */
.section-about-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.section-about-subtitle {
  text-align: center;
}

.about-title {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


/* background and color for items and subtitles*/



.about-item {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
}

.bg-opacity {
  background-color: rgba(131, 179, 211, 0.2);
}

.item-bg-blue {
  background-color: #82B3D3;
  color: #fff;
}

.item-bg-blue > .about-title {
  color: #fff;
}
/* background and color for items and subtitles*/







.about-subtitle {
  font-size: 18px;
  line-height: 21px;
}
/* section-about */


/* section-advantages */
.advantages-section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  text-align: center;

}

.advantages-title {
  text-transform: uppercase;
}

.advantages-section-subtitle {
  text-align: center;
}


.advantages-item {
  list-style: none;
}

.bg-home {
  background: url("../images/advantages/advantages-1.svg")  no-repeat,
            rgba(131, 179, 211, 0.12);
}

.bg-food {
  background: url("../images/advantages/advantages-2.svg")  no-repeat;
}

.bg-gift {
  background: url("../images/advantages/advantages-3.svg")  no-repeat,
            rgba(131, 179, 211, 0.12);
}




/* section-action */
.action {
  text-align: center;
}

.action-title {
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
}

.action .button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #756157;
  border-radius: 4px;
}
/* section-action */



/* form-products */
.inner-wrap {
  background-color: #284155;
  background: url("../images/filter.jpg") no-repeat;
}

.catalog-filter-title {
  font-weight: 700;
  color: #fff;
}

.catalog-filter-item {
  list-style: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.form-products .button {
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}
/* form-products */


/* products-section*/
.products-section-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


.product-cart {
  list-style: none;
}

.product-card-link {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.product-cart .button {
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  border: none;
}

.button-current {
  background: #7DB54F;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.product-list span {
  font-size: 18px;
  line-height: 21px;
}

.button-detailed {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #fff;
}

.button-list  {
  background: url("../images/list.svg") left no-repeat;
  text-decoration: none;
}

.button-fullscreen {
  background: url("../images/full-screen.svg") left no-repeat;
  text-decoration: none;
}

.button-table {
  background: url("../images/table.svg") left no-repeat;
  text-decoration: none;
}


/*products-section pagination */

.pagination-item {
  list-style: none;
}
.dots {
  text-decoration: none;
}

.pagination-link {
  background: #82B3D3;
  border-radius: 4px;
  color:#fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;

}

.pagination-current {
  background: #F2F2F2;
  border-radius: 4px;
  color: #000;
}
/* products-section pagination */




/* mailing */
.mailing .button {
  background: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  border: none;

}

.mailing {
  background-color: #284155;
  background: url("../images/action.jpg") no-repeat;

}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}

.mailing-subtitle {
  color: #fff;
}

/* mailing */

/* main-footer */
.main-footer-item {
  list-style: none;
}


.main-footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}
/* main-footer */

/* mailing bg-hidden */
.bg-hidden {
  background: none;

}

.bg-hidden .mailing-title {
  color: #000;
  text-transform: uppercase;
}

.bg-hidden .mailing-subtitle {
  color: #333333;
}
/* mailing bg-hidden */
